#
# Если вы это читаете, значит вы вышли за пределы игры
# и читаете код, который управляет игрой.
#
#                    Поздравляем!
#
# Изучение Linux — это прежде всего любопытство, так что
# читайте этот код и попробуйте понять, что он делает.
#
# Когда будете готовы продолжить игру, возвращайтесь
# к свиткам. Если застряли — создайте issue на Gitlab.
# Мы с радостью дадим подсказку.
#

# Это пользовательская функция.
# Функция — это фрагмент кода, который можно использовать в других файлах.
# Каждый раз, когда вы видите команду `gameover` в файле этого
# подземелья, это «вызов» этой функции.
gameover () {
    CORPSE=$(mktemp corpse.XXX)
    cat << EOF2 > $CORPSE
#!/usr/bin/env bash
#
# Если вы это читаете, значит вы вышли за пределы игры
# и читаете код, который управляет игрой.
#
#                    Поздравляем!
#
# Изучение Linux — это прежде всего любопытство, так что
# читайте этот код и попробуйте понять, что он делает.
#
# Когда будете готовы продолжить игру, возвращайтесь
# к свиткам. Если застряли — создайте issue на Gitlab.
# Мы с радостью дадим подсказку.
#
CORPSE=\$(basename \$0)

echo
if [ ! -e .\$CORPSE.looted ]; then
    cat << EOF
Вы видите труп убитого искателя приключений на полу
подземелья.  На трупе вы находите следующие предметы:

${I}

EOF

    touch .\$CORPSE.looted
else
    echo "Этот труп уже обыскан."
    echo
fi
EOF2

    for i in {0..327}; do
        echo >>$CORPSE
    done

    cat << EOF2 >> $CORPSE
# Хм, это не сработало.
# Помните, когда файлы оканчиваются на *
# это значит, что они являются программами.
# Попробуйте так:
#
# ./$CORPSE


EOF2
    chmod +x $CORPSE

    curr=`basename $PWD`
    while [ "$curr" != "entrance" ]; do
        pushd .. &> /dev/null
        dirs -c
        curr=`basename $PWD`
    done
    unset I
    unset HP
    $SHELL
}
